body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 75px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 50px;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.chad-img {
  border-radius: 50%;
  margin-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.swimming-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright-text {
  color: #EAF6F6;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.top-description {
  width: 50%;
  margin: auto;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:  #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #8adebf;
  text-decoration: none;
}

.contact-paragraph {
  margin-bottom: 50px;
}
